@page "/TipoEmpreendedor/Editar"
@page "/TipoEmpreendedor/Editar/{id}"

@inject TipoEmpreendedorService TipoEmpreendedorService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using Model

@using BlazorTable
@using SGSB.Web.Data


<h3>Editar</h3>


<EditForm Model="@TipoEmpreendedorModel" OnSubmit="EditarTipoMaterial" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <label for="nome" class="control-label">Nome do Tipo Empreendedor </label>
                <InputText @bind-Value="@TipoEmpreendedorModel.Nome" type="Text" class="form-control" />
                <ValidationMessage For="@(()=> TipoEmpreendedorModel.Nome)" />
            </div>




        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private TipoEmpreendedor TipoEmpreendedorModel = new TipoEmpreendedor();

    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {


       await Edit(Id);
    }

    private async Task ChangeHandler(ChangeEventArgs args)
    {
        

    }

    

    public async Task Edit(string Id)
    {
        TipoEmpreendedorModel = await  TipoEmpreendedorService.GetTipoEmpreendedorId(int.Parse(Id));
        
    }

    protected async Task EditarTipoMaterial()
    {

        await TipoEmpreendedorService.EditarTipoEmpreendedor(TipoEmpreendedorModel);
        NavigationManager.NavigateTo("TipoEmpreendedor/index");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("TipoEmpreendedor");
    }


}
