@page "/DocumentacaoProjetoConstrucaoOperacao/Editar"
@page "/DocumentacaoProjetoConstrucaoOperacao/Editar/{id}"

@inject DocumentacaoProjetoConstrucaoOperacaoService DocumentacaoProjetoConstrucaoOperacaoService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using Model;

@using BlazorTable
@using SGSB.Web.Data
@using SGSB.Web.Models;


<h3>Editar</h3>


<EditForm Model="@DocumentacaoProjetoConstrucaoOperacaoModel" OnSubmit="EditarTipoMaterial" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="nome" class="control-label">Pergunta</label>
                <InputText @bind-Value="@DocumentacaoProjetoConstrucaoOperacaoModel.Pergunta" type="Text" class="form-control" />
                <ValidationMessage For="@(()=> DocumentacaoProjetoConstrucaoOperacaoModel.Pergunta)" />
            </div>




        </div>
  @*      <div class="col-md-8">
            <div class="form-group">

                <RadzenCheckBox @bind-Value=@DocumentacaoProjetoConstrucaoOperacaoModel.Resposta Name="CheckBox12" />
                <RadzenLabel Text="Descrição/Resposta" Component="CheckBox12" Style="margin-left: 8px; vertical-align: middle;" />

            </div>
        </div>*@



    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private DocumentacaoProjetoConstrucaoOperacaoModel DocumentacaoProjetoConstrucaoOperacaoModel = new DocumentacaoProjetoConstrucaoOperacaoModel();

    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {


       await Edit(Id);
    }

    private async Task ChangeHandler(ChangeEventArgs args)
    {
        

    }

    

    public async Task Edit(string Id)
    {
        var tipo = await DocumentacaoProjetoConstrucaoOperacaoService.GetDocumentacaoProjetoConstrucaoOperacaoId(int.Parse(Id));
        var tipos = new DocumentacaoProjetoConstrucaoOperacaoModel()
            {
                BarragemId = tipo.BarragemId,
                Id = tipo.Id,
                Pergunta = tipo.Pergunta,
                Resposta = tipo.Resposta

            };

        DocumentacaoProjetoConstrucaoOperacaoModel = tipos;
    }

    protected async Task EditarTipoMaterial()
    {

        await DocumentacaoProjetoConstrucaoOperacaoService.EditarDocumentacaoProjetoConstrucaoOperacao(DocumentacaoProjetoConstrucaoOperacaoModel);
        NavigationManager.NavigateTo("DocumentacaoProjetoConstrucaoOperacao/index");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("DocumentacaoProjetoConstrucaoOperacao");
    }


}
