@page
@model SGSB.Web.Pages.Notificacao.Index3Model

@{
    ViewData["Title"] = "Index";
}

<h1>Enviar Notificação Push</h1>

<form method="post">
    <button type="submit">Enviar Notificação</button>
</form>

@if (ViewData["Message"] != null)
{
    <div>@ViewData["Message"]</div>
}