@page "/CondicaoFundacao/Editar"
@page "/CondicaoFundacao/Editar/{id}"

@inject CondicaoFundacaoService CondicaoFundacaoService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime;
@using Model

@using BlazorTable
@using SGSB.Web.Data


<h3>Editar</h3>


<EditForm Model="@CondicaoFundacaoModel" OnSubmit="EditarCondicaoFundacao" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="row">

        <div class="form-group">
            <label for="Cota" class="control-label">Nome </label>
            <InputText @bind-Value="@CondicaoFundacaoModel.Nome" type="Text" class="form-control" />
            <ValidationMessage For="@(()=> CondicaoFundacaoModel.Nome)" />



        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Editar" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancelar" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private CondicaoFundacao CondicaoFundacaoModel = new CondicaoFundacao();

    [Parameter]
    public string Id { get; set; }
    protected override async Task OnInitializedAsync()
    {


       await Edit(Id);
    }

    private async Task ChangeHandler(ChangeEventArgs args)
    {
        

    }

    

    public async Task Edit(string Id)
    {
        CondicaoFundacaoModel = await  CondicaoFundacaoService.GetCondicaoFundacaoId(int.Parse(Id));
        
    }

    protected async Task EditarCondicaoFundacao()
    {

        await CondicaoFundacaoService.EditarCondicaoFundacao(CondicaoFundacaoModel);
        NavigationManager.NavigateTo("CondicaoFundacao/index");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("CondicaoFundacao/index");
    }


}
